@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
:root{
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --medium-blue: hsl(213, 20%, 22%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
}

body{
    font-family: Overpass, Arial, Helvetica, sans-serif;
    background-color: var(--very-dark-blue);
    color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    width: 400px;
    background-color: var(--dark-blue);
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.ativo{
    display: block;
}
.inativo{
    display: none;
}
.staricon{
    padding: 10px;
    background-color: var(--medium-blue);
    border-radius: 50%;
}
p{
    font-size: 1em;
    font-weight: 400;
    color: var(--light-grey);
    text-align: justify;
}
.result{
    text-align: center;
}
ul{
    list-style: none;
    margin-bottom: 0px;
}
li{
   display: inline;
   justify-content: space-between;
}

.submit{
    width: 100%;
    text-align: center;
}
.btn-rating{
    background-color: var(--medium-blue);
    color: var(--light-grey);
    font-weight: 700;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-rating:hover{
    background-color: var(--orange);
    color:var(--white);
}

.btn-rating:focus{
    background-color: var(--light-grey);
    color:var(--white);
}

.btn{
    background-color: var(--orange);
    color: var(--white);
    width: 70%;
    height: 40px;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: var(--white);
    color: var(--orange);
}


.thank-img{
    text-align: center;
}

.rating-h1{
    text-align: center;
}

.rating-select{
    background-color: var(--medium-blue);
    color: var(--orange);
    padding: 5px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: var(--orange);
text-decoration: none;}