@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
:root{
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%)
}

body{
    font-family: Overpass, Arial, Helvetica, sans-serif;
    background-color: var(--very-dark-blue);
    color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    width: 30%;
    background-color: var(--dark-blue);
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.ativo{
    display: block;
}
.inativo{
    display: none;
}
p{
    font-size: 15px;
    font-weight: 400;
    color: var(--light-grey);
}
.btn-rating{
    background-color: var(--medium-grey);
    color: var(--dark-blue);
    font-weight: 700;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.btn-rating:hover{
    background-color: var(--light-grey);
}
.btn{
    background-color: var(--orange);
    color: var(--white);
    width: 70%;
    height: 40px;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 10px;
    cursor: pointer;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }